<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
          <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
          body {
            padding-left: 80px;
            background-color: rgb(24, 28, 29);
            font-family: "MyriadPro-Regular";
            font-size: 20px;
            color: #ccc;
            line-height: 25px;
          }

          h1 {
            font-size: 35px;
            font-family: "MyriadPro-Bold";
            color: #ccc;
            line-height: 30px;
          }

          h2 {
            font-size: 22px;
            line-height: 30px;
          }

          div#text {
            width: 480px;
            float: left;
            margin-right: -100%;
            height: 100%;
          }

          div#images {
            width: 333px;
            float: left;
            margin-right: -100%;
            margin-left: 505px;
            margin-bottom: 20px;
            margin-top: 10px;
            color: #ccc;
            font-size: 14px;
            line-height: 17px;
          }
          div#images article {
            margin-top: 25px;
          }

          div#images article span.credit {
            font-style: italic;
          }

          div#images article img {
            width: 333px;
          }

        </style>
      </head>
      <body>
        <div id="text">
          <article>
            <h1>{{title}}</h1>
            {{{ingress}}}
            {{{body}}}
          </article>
        </div>
        <div id="images">
          {{#images}}
          <article>
            <img src="{{urlString}}"/>
            {{#descs}}
            <span class="image_desc">
              {{desc}}
            </span>
            <br/>
            {{/descs}}
            
            {{#credits}}
            <span class="credit">
              {{description}}
            </span>
            {{/credits}}
          </article>
          {{/images}}
        </div>
      </body>
    </html>

